*{
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}


.card{
  border: 2px solid black;
  max-width: 30vw;
  margin: 20px;
  
}

nav,ul{
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding: 12px 3px;
  background-color: rgb(48, 48, 48);
  color: white;
  text-align: center;
  font-size: 1.35rem;

}

li{
  list-style-type: none;
}

